main {
    display: flex;

    & > * {
        flex: 1;
    }
}

mg-input {
    width: 100%;
    max-width: 100%;
}

mg-input-error pre {
    font-size: initial;
    font-family: var(--font-mono);
}

.options {
    max-width: min-content;

    > div {
        width: 500px;
    }
}

.opt label {
    display: block;

    & > span {
        display: block;
        font-weight: 700;
    }
}
