nav {
    margin: 10px;

    img {
        vertical-align: sub;
        margin-top: 5px;
        margin-left: 15px;
    }
}

main {
    display: flex;
    flex-wrap: wrap;

    & > * {
        flex: 1;
        min-width: 300px;
    }
}

mg-input {
    width: 100%;
    max-width: 100%;
}

mg-input-error pre {
    font-size: initial;
    font-family: var(--font-mono);
}

.options {
    max-width: min-content;
}

.opt label {
    display: block;

    & > span {
        display: block;
        font-weight: 700;
    }
}
