<h1>&#64;ikilote/json2html</h1>

<div>
  <div>
    <div>Examples</div>
    <button type="button" (click)="updateExample(0)">Example 1</button>
    <button type="button" (click)="updateExample(1)">Example 2</button>
    <button type="button" (click)="updateExample(2)">Example Angular</button>
  </div>
  <div class="s-f">
    <div>Data format</div>
    <button type="button" (click)="modeEdit('json')">json</button>
    <button type="button" (click)="modeEdit('js')">js</button>
  </div>
</div>

<main>
  <fieldset class="json">
    <legend>{{ mode | uppercase }}</legend>
    <mg-input>
      <mg-input-textarea
        minHeight="700px"
        maxHeight="700px"
        monospace
        [ngModel]="mode === 'json' ? (data | json) : (data | js: 2)"
        (ngModelChange)="format($event)"
      ></mg-input-textarea>
      @if (error) {
        <mg-input-error>
          <div>Error:</div>
          <pre>{{ error }}</pre>
        </mg-input-error>
      }
    </mg-input>
  </fieldset>

  <fieldset class="options">
    <legend>Options</legend>
    <div>
      <mg-input class="s-12">
        <mg-input-label>formatting</mg-input-label>
        <mg-input-select
          [(ngModel)]="formatting"
          (ngModelChange)="generated()"
          [data]="[
            { value: 'multiline', label: 'multiline (default): structure on several lines with possible indentation' },
            { value: 'inline', label: 'inline: all on one line without space' },
          ]"
        />
      </mg-input>
      @if (formatting === 'multiline') {
        <mg-input class="s-12">
          <mg-input-label>indent</mg-input-label>
          <mg-input-checkbox [(ngModel)]="indent" (ngModelChange)="generated()" mode="toggle" />
        </mg-input>
      }
      @if (indent && formatting === 'multiline') {
        <mg-input class="s-12">
          <mg-input-label>spaceType</mg-input-label>
          <mg-input-select
            [(ngModel)]="spaceType"
            (ngModelChange)="generated()"
            [data]="[
              { value: 'space', label: 'space (defaut)' },
              { value: 'tab', label: 'tab' },
            ]"
          />
        </mg-input>

        <mg-input class="s-6">
          <mg-input-label>spaceLength</mg-input-label>
          <mg-input-number min="0" max="50" forceMinMax [(ngModel)]="spaceLength" (ngModelChange)="generated()" />
        </mg-input>

        <mg-input class="s-6">
          <mg-input-label>spaceBase</mg-input-label>
          <mg-input-number min="0" max="50" forceMinMax [(ngModel)]="spaceBase" (ngModelChange)="generated()" />
        </mg-input>
      }
      @if (formatting === 'multiline') {
        <mg-input class="s-12">
          <mg-input-label>attrPosition</mg-input-label>
          <mg-input-select
            [(ngModel)]="attrPosition"
            (ngModelChange)="generated()"
            [data]="
              indent
                ? [
                    { value: 'inline', label: 'inline: no alignment' },
                    { value: 'inline space', label: 'inline space: wrap with alignment with higher level' },
                    { value: 'inline alignTag', label: 'inline alignTag: wrap with alignment with the tag' },
                    {
                      value: 'inline alignFirstAttr',
                      label: 'inline alignFirstAttr: wrap alignment with the first attribute',
                    },
                    { value: 'space', label: 'space: alignment with higher level' },
                    { value: 'alignTag', label: 'alignTag: alignment with the tag' },
                    { value: 'alignFirstAttr', label: 'alignFirstAttr (default): alignment with the first attribute' },
                    { value: 'prettier', label: 'prettier: like Prettier formatter' },
                  ]
                : [
                    { value: 'inline', label: 'inline: no alignment' },
                    { value: 'inline space', label: 'inline space: wrap with alignment with higher level' },
                    { value: 'inline alignTag', label: 'inline alignTag: wrap with alignment with the tag' },
                    {
                      value: 'inline alignFirstAttr',
                      label: 'inline alignFirstAttr: wrap alignment with the first attribute',
                    },
                  ]
            "
          />
        </mg-input>
      }
      @if (indent && formatting === 'multiline') {
        <mg-input class="s-6">
          <mg-input-label>wrapAttrNumber</mg-input-label>
          <mg-input-number min="0" max="50" forceMinMax [(ngModel)]="wrapAttrNumber" (ngModelChange)="generated()" />
        </mg-input>
        <mg-input class="s-6">
          <mg-input-label>maxLength (0 = no wrap)</mg-input-label>
          <mg-input-number min="0" max="500" forceMinMax [(ngModel)]="maxLength" (ngModelChange)="generated()" />
        </mg-input>
      }

      <mg-input class="s-6">
        <mg-input-label>spaceBeforeSlash</mg-input-label>
        <mg-input-checkbox [(ngModel)]="spaceBeforeSlash" (ngModelChange)="generated()" mode="toggle" />
      </mg-input>

      <mg-input class="s-6">
        <mg-input-label>webComponentSelfClosing</mg-input-label>
        <mg-input-checkbox [(ngModel)]="webComponentSelfClosing" (ngModelChange)="generated()" mode="toggle" />
      </mg-input>

      <mg-input class="s-6">
        <mg-input-label>type</mg-input-label>
        <mg-input-select
          [(ngModel)]="type"
          (ngModelChange)="generated()"
          [data]="[
            { value: 'html', label: 'html (default)' },
            { value: 'xml', label: 'xml' },
          ]"
        />
      </mg-input>

      @if (type === 'xml') {
        <mg-input class="s-6">
          <mg-input-label>xmlDefaultTag</mg-input-label>
          <mg-input-text [(ngModel)]="xmlDefaultTag" (ngModelChange)="generated()" />
        </mg-input>
      }

      <mg-input class="s-12">
        <mg-input-label>noContentTags</mg-input-label>
        <mg-input-text [(ngModel)]="noContentTags" (ngModelChange)="generated()" />
      </mg-input>

      @if (type === 'html') {
        <mg-input class="s-12">
          <mg-input-label>removeOptionalEndTags</mg-input-label>
          <mg-input-checkbox [(ngModel)]="removeOptionalEndTags" (ngModelChange)="generated()" mode="toggle" />
        </mg-input>

        <mg-input class="s-12">
          <mg-input-label>optionalEndTags</mg-input-label>
          <mg-input-text [(ngModel)]="optionalEndTags" (ngModelChange)="generated()" />
        </mg-input>
      }
    </div>
  </fieldset>

  <fieldset class="rendu">
    <legend>Render</legend>

    <mg-input>
      <mg-input-textarea minHeight="700px" maxHeight="700px" monospace [value]="html" readonly></mg-input-textarea>
    </mg-input>
  </fieldset>
</main>

<footer>
  <a href="https://git.ikilote.net/typescript/json2html">Source code</a>
</footer>
